Project5/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NearestStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StoreName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NearestStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NearestStoreResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>